<div id="message">
  {{ message }}
</div>
<div id="info">
  <table>
    <tr>
      <th>Pod/container/host that serviced this request:</th>
      <td>{{ hostName }}</td>
    </tr>
    <tr>
      <th>Secret Value:</th>
      <td>{{ secretValue }}</td>
    </tr>
  </table>

</div>