<!DOCTYPE html>
<html>
<head>
    <title>Hello Pluralsighters!</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300" >
</head>
<body>

  <div class="main">
    <div class="content">
      {{{body}}}
    </div>
    <img src="/images/image.png"/>
  </div>

</body>
</html>